@import "tailwindcss";

[x-cloak] {
    display: none !important;
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
    }
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}